node_modules
package-lock.json
*.env
database/config/dev.json
database/config/prod.json
**/coverage/**
# commit upload but not the contents of the folder
/upload/*
!upload/.gitkeep 
!upload/1.jpg
!upload/2.jpg
!upload/3.jpeg
!upload/4.jpg
!upload/5.jpeg
Brewfile.lock.json